@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, rgb(14, 15, 56), rgb(32, 34, 117));
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.login_form{
    /* background: white; */
    position: absolute;
    border-radius: 10px;
    background: rgb(241, 242, 255);
    box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login_form h1{
    text-transform: uppercase;
    text-align: center;
    color: rgb(14, 15, 56);
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(14, 15, 56);
}
.login_form form{
    padding: 0 40px;
    box-sizing: border-box;
    color: rgb(37, 39, 134);
}
.login_form form .login_form__txtfield{
    position: relative;
    border-bottom: 2px solid rgb(27, 28, 100);
    margin: 30px 0;
}
.login_form form .login_form__txtfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.login_form form .login_form__txtfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.login_form form .login_form__txtfield span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(27, 28, 100);
    transition: .5s;
}
.login_form form .login_form__txtfield input:focus ~ label,
.login_form form .login_form__txtfield input:valid ~ label{
    top: -5px;
    color: rgb(37, 39, 134);
}
.login_form form .login_form__txtfield input:focus ~ span::before,
.login_form form .login_form__txtfield input:valid ~ span::before{
    width: 100%;
}

.login_form .login_form__forgotpass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
    color: rgb(37, 39, 134);
}
.login_form .login_form__forgotpass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #1d2c85;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: #2b42c0;
    transition: .5s;
}
.login_form form .login_form__signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}
.login_form form .login_form__signup_link a{
    color: rgb(0, 63, 180);
}
.login_form form .login_form__signup_link a:hover{
    text-decoration: underline;
}

.back_btn{
    position: absolute;
    top: 0;
    left: 0;
}
.back_btn a{
    font-size: 25px;
    color: white;
    padding: 20px 30px;
    display: block;
    background: rgb(56, 58, 173);
}
.back_btn a:hover{
    color: rgb(25, 25, 66);
    background: rgb(111, 113, 231);
}